#ae-settings {
	margin: 0 15px 0 0 !important;
}
#ae-settings #normal-sortables {
	margin: 0 !important;
	min-height: 40px;
}
#ae-settings input[type="checkbox"], #ae-settings input[type="checkbox"]:after, #ae-settings input[type="checkbox"]:before {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#ae-settings input.on-off {
	border-color: #E9E9E9 !important;
	background: #E9E9E9 !important;
	width: auto !important;
	height: auto !important;
	-webkit-border-radius: 20px !important;
	border-radius: 20px;
	padding: 10px 35px 10px 15px!important;
	position: relative;
	line-height: 13px !important;
	margin: 0 !important;
	box-shadow: none !important;
	font-size: 13px !important;
}
#ae-settings input.on-off:checked {
	-background: #89daff !important;
	background: #46b450 !important;
	padding: 10px 15px 10px 35px!important;
}
#ae-settings input.on-off:after {
	content: '' !important;
	height: 25px;
	width: 25px;
	-webkit-border-radius: 50% !important;
	border-radius: 50%;
	display: inline-block;
	background-color: #fff;
	vertical-align: middle;
	position: absolute;
	left: 65px;
	top: 4px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
#ae-settings input.on-off:checked:after {
	left: 5px;
}
#ae-settings input.on-off:before {
	font-size: 13px !important;
	font-family: 'Open Sans', Arial !important;
	content: 'Disable' !important;
	vertical-align: middle;
	display: block !important;
	margin: 0 !important;
	color: #555 !important;
	float: none !important;
	width: auto !important;
	height: auto !important;
}
#ae-settings input.on-off:checked:before {
	content: 'Enable' !important;
	color: #fff !important;
}
#ae-settings .ae-table {
	display: table;
	min-width: 100%;
}
#ae-settings .ae-table-cell {
	display: table-cell;
	vertical-align: middle;
}
#ae-settings .align-right {
	text-align: right;
}
#ae-settings .ae-notice {
	border-left: 3px solid #ffba00;
	background-color: #f1f1f1;
	color: #000;
	display: block;
	padding: 8px 20px;
	margin: 10px 0 0;
}
#ae-settings .ae-notice * {
	vertical-align: middle;
}
#ae-settings .ae-notice-success {
	border-left-color: #46b450;
}
#ae-settings .ae-notice a {
	background-color: #89daff;
	color: #000;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 40px;
	margin: 0 0 0 10px;
	font-weight: bold;
}
#ae-settings .ae-notice a:hover {
	background-color: #000;
	color: #fff;
}
#ae-settings .ae-field-group {
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-left: 2px solid #333;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
}
#ae-settings .iris-picker.iris-border, #ae-settings a.wp-color-result {
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
}
#ae-settings .wp-picker-container .ae-alpha-wrap {
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
#ae-settings .color-wrap div {
	display: inline-block;
}
#upload-wrap .upload-group {
	display: inline-block;
	vertical-align: bottom;
	max-width: 100%;
	position: relative;
}
#upload-wrap #upload-i {
	border: 1px solid #999999;
	margin: 15px 0;
	text-align: center;
	overflow: hidden;
	position: relative;
	max-width: 100%;
}
#upload-wrap #upload-i img {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	max-width: 100%;
}
.ae-column {
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#ae-settings .upload-wrap {
	width: 500px;
	max-width: 100%;
}
#ae-settings .cr-viewport {
}
.separator {
	padding-bottom: 15px !important;
	border-bottom: 1px solid #dedede !important;
	margin-bottom: 15px !important;
}
.separator label strong {
	display: block !important;
}
.separator label input[type="text"] {
	width: 400px;
	max-width: 100%;
}
@media only screen and ( min-width: 1025px ) {
.ae-column-wrap {
	max-width: calc( 100% + 20px );
	margin: 0 -10px;
	overflow: hidden;
}
.ae-column {
	padding: 0 10px;
	float: left;
}
.ae-column-wrap .one-half {
	width: 50%;
}
.ae-column-wrap .one-third {
	width: 33.33%;
}
.ae-column-wrap .one-fourth {
	width: 25%;
}
.ae-column-wrap .one-fifth {
	width: 20%;
}
.ae-column-wrap .one-sixth {
	width: 16.66%;
}
.ae-column-wrap .two-thirds {
	width: 66.66%;
}
.ae-column-wrap .two-fourths {
	width: 50%;
}
.ae-column-wrap .three-fourths {
	width: 75%;
}
.ae-column-wrap .two-fifths {
	width: 40%;
}
.ae-column-wrap .three-fifths {
	width: 60%;
}
.ae-column-wrap .four-fifths {
	width: 80%;
}
.ae-column-wrap .two-sixths {
	width: 33.33%;
}
.ae-column-wrap .three-sixths {
	width: 50%;
}
.ae-column-wrap .four-sixths {
	width: 66.66%;
}
.ae-column-wrap .five-sixths {
	width: 83.33%;
}
}
@media only screen and (max-width:1280px) {
#ae-settings form .ap {
	width: 100%;
}
#ae-settings form input[type="submit"], #ae-settings form .ap.button {
	width: auto;
}
}
